<head>
  {% if page.title %}
    <title>{{ page.title }} | Test Page</title>
  {% else %}
    <title>Test Page: Don't Panic</title>
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is a dangerous site.">
  {% endif %}

  <link href="/favicon.png" rel="icon">
  <meta charset="utf-8">

  <!-- The viewport meta tag controls the width and scaling of the browser's
  viewport. The `width=device-width` directive tells the browser to
  match the screen width using device-independent pixels. The `initial-scal=1`
  directive establishes a 1:1 relationship between CSS pixels and
  device independent pixels. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">

  <script defer src="/js/fontawesome.js"></script>
  <script defer src="/js/packs/brands.js"></script>
  <script defer src="/js/packs/solid.js"></script>
  <script defer src="/js/packs/light.js"></script>
  <script defer src="/js/packs/regular.js"></script>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
