<head>
  <title>Test Page: Don't Panic</title>
  <meta charset="utf-8">

  <!-- The viewport meta tag controls the width and scaling of the browser's
  viewport. The `width=device-width` directive tells the browser to
  match the screen width using device-independent pixels. The `initial-scal=1`
  directive establishes a 1:1 relationship between CSS pixels and
  device independent pixels. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
